# virtual environment
.venv/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# environment files
.env

# log files 
logs/*
!logs/.gitkeep

# system files
.DS_Store
Thumbs.db

# model/data artifacts
data/
models/
output/
outputs/
checkpoints/
logs/
plots/
artifacts/
models/*
outputs/*
!models/.gitkeep
!outputs/.gitkeep

# vscode
.vscode/

# dataset
data/